# dependencies
/**/node_modules

# next.js
/**/.next/
/**/out/

# debug
/**/npm-debug.log*

# production
/**/build
/**/dist

# IDD
/**/.vscode
/**/.idea

# misc
.DS_Store

# local env files
/**/.env*.local

# typescript
/**/.tsbuildinfo